<div class="page-container" data-ng-controller="HomeCtrl">
  <section id="skin">
     <div class="log_reg noFloat">
        <div class="logReg_left">
           <dl>
              <dt><span>登录</span><p><a href="#">注册</a></p></dt>
              <dd><input type="text" placeholder="手机号" /></dd>
              <dd><input type="password" placeholder="密码" /></dd>
              <dd class="remember"><label><input type="checkbox">记住用户名</label><a href="#">忘记密码</a></dd>
              <dd><input class="login_btn" type="submit" value="马上登录"></dd>
           </dl>
        </div>
        <div class="logReg_right"></div>
     </div>
  </section>
</div>
