<div class="page-container" data-ng-controller="HomeCtrl">
  <section id="skin">
    <div class="log_reg noFloat">
      <div class="logReg_left"> 
        <!--第一步-->
        <dl>
          <dt><span>注册</span>
            <p>已有账户,<a href="#">登录</a></p>
          </dt>
          <dd>
            <input type="text" placeholder="手机号" />
          </dd>
          <dd class="code_box">
            <input class="code" type="text" placeholder="验证码" />
            <input class="code_btn" type="submit"  value="获取验证码"/>
          </dd>
          <dd class="remember">
            <label>
              <input type="checkbox">
              我已阅读并同意《通善金融服务协议》</label>
          </dd>
          <dd>
            <input class="login_btn" type="submit" value="下一步">
          </dd>
        </dl>
        <!--第二步-->
        <dl>
          <dt><span>注册</span>
            <p>已有账户,<a href="#">登录</a></p>
          </dt>
          <dd class="code_box">
            <input class="code" type="text" placeholder="验证码" />
            <input class="code_btn" type="submit"  value="30秒后重新获取"/>
          </dd>
          <dd>
            <input type="password" placeholder="设置密码8位以上，数字和字母组合" />
          </dd>
          <dd>
            <input type="password" placeholder="再次输入密码" />
          </dd>
          <dd>
            <input class="login_btn" type="submit" value="完成注册">
          </dd>
        </dl>
        <!--注册成功-->
        <div class="reg_success">
          <h3>注册成功!</h3>
          <p>3秒后跳转到之前的页面...</p>
          <a href="#">返回首页</a> </div>
      </div>
      <div class="logReg_right"></div>
    </div>
  </section>
</div>
